<main class="item">
  <img class="itemImage" [src]="product.imageUrl" alt="{{ product.name }}" />
  <section class="detailsSection">
    <div class="details">
      <div class="detailsLeftSection">
        <div class="detailsText">
          <h1>{{ product.name }}</h1>
          <p>{{ product.state }}</p>
        </div>
        <div class="ratingSection">
          <img src="icons/star.svg" alt="star" />
          <h2 class="rating">{{ product.rating }}</h2>
          <span>({{ product.ratingCount }})</span>
        </div>
      </div>
      <div class="detailsSuperiority">
        <img src="icons/bike.svg" alt="Fast Delivery" />
        <img src="icons/bean.svg" alt="Quality Bean" />
        <img src="icons/milk.svg" alt="Extra Milk" />
      </div>
    </div>
    <hr />
  </section>
  <div class="descriptionSection">
    <h3>Description</h3>
    <p>
      {{ isExpanded ? product.longDescription : shortDescription }}
      <span (click)="toggleDescription()" class="readMore">
        {{ isExpanded ? " Read less" : " Read More" }}</span
      >
    </p>
  </div>
</main>
