@import "../../../../../styles.scss";

.promoBanner {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  aspect-ratio: 327 / 140;
  max-height: 350px;
  overflow: hidden;
  width: 100%;
}
.promoBanner img {
  object-fit: cover;
  border-radius: 1rem;
}
